body {
  font-family: 'Montserrat', sans-serif;
  background-color: #264653;
}

a {
  color: #e9c46a;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.landing {
  text-align: center;
  color: #e9c46a;
  margin-top: 5rem;
}

.landing h1 {
  font-size: 7rem;
}

.landing h2 {
  font-size: 4rem;
  padding-top: 1.5rem;
}

.logos {
  text-align: center;
  margin-top: 5rem;
  color: #e9c46a;
}

.logos p {
  font-size: 2rem;
  padding-top: .5rem;
}

nav {
  background-color: #264653;
}

.nav-link {
  font-size: 2rem;
  color: #f4a261  !important;
}

ul li {
  padding-right: 1.5rem;
}

@media (min-width: 992px) {
  .nav-link:hover {
    transform: scale(1.2);
  }
}
