body {
  font-family: 'Montserrat', sans-serif;
  background-color: #264653;
}

a.nav-link {
  margin-right: 35px;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

#contact {
  background-color: #e9c46a;
  color: #264653;
}

#contact p {
  margin-bottom: 0;
}

#contact h2 {
  text-align: center;
  font-size: 4.5rem;
}

.landing {
  text-align: center;
  color: #e9c46a;
  padding: 0;
}

.landing h1 {
  font-size: 5rem;
  margin-top: 6rem;
}

.logos {
  text-align: center;
  margin-top: 4rem;
  color: #e9c46a;
}

.logos a {
  color: #e9c46a;
}

.logos a:hover {
  text-decoration: none;
  color: #fff;
}

.logos p {
  font-size: 2rem;
  padding-top: .5rem;
}

.nav-link {
  font-size: 2rem;
  color: #e9c46a  !important;
}

#projects {
  background-color: #264653;
  color: #e9c46a;
}

#projects h2 {
  text-align: center;
  font-size: 4.5rem;
  padding-bottom: 2rem;
}

#skills {
  background-color: #e9c46a;
}

#skills h2 {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 4.5rem;
  font-weight: 600;
  color: #264653;
}

#skills p {
  margin-top: 3rem;
  font-size: 2rem;
  color: #264653;
}

.fa-html5:hover {
  color: #e34c26;
}

.fa-css3-alt:hover {
  color: #002ee6;
}

.fa-sass:hover {
  color: #c69;
}

.fa-bootstrap:hover {
  color: #563d7c;
}

.fa-js-square:hover {
  color: #262626;
}

.fa-react:hover {
  color: #05acd6;
}

.fa-size {
  font-size: 12rem;
}

@media (max-width: 475px) {
  #contact h2 {
    font-size: 4rem;
  }
  .fa-size {
    font-size: 8rem;
  }
}

@media (min-width: 576px) {
  .landing h1 {
    font-size: 9rem;
  }
}

@media (min-width: 992px) {
  .nav-link:hover {
    transform: scale(1.2);
  }
}
