

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #264653;
  }

a.nav-link{
  margin-right: 35px;
}

.skills {
  background-color: #e9c46a;
  h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 4.5rem;
    font-weight: 600;
    color:  #264653;
  }

  
  p {
    margin-top: 3rem;
    font-size: 2rem;
    color:  #264653;
  }
}

a {
  color: #e9c46a;
}

a:hover {
  text-decoration: none;
  color: #fff;
}



.landing {
    text-align: center;
    color: #e9c46a;
    padding: 0;

    h1 {
      font-size: 5rem;
      margin-top: 6rem; 
      font-weight: 900;
    }
  }



h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}
  
  .logos {
    text-align: center;
    margin-top: 5rem;
    color: #e9c46a;

    p {
      font-size: 2rem;
      padding-top: .5rem;
    }

  }

  nav {
    background-color: #264653;
  }

  .nav-link  {
    font-size: 2rem;
    color:  #e9c46a  !important;
   
  }

.fa-html5:hover {
  color: hsl(12, 77%, 52%);

}

.fa-css3-alt:hover {
  color: hsl(228, 100%, 45%);
}

.fa-sass:hover {
  color: #c69 ;
}

.fa-bootstrap:hover {
  color: #563d7c;
}

.fa-js-square:hover {
  color: hsl(0, 0%, 15%);
}

.fa-react:hover {
  color: hsl(192, 95%, 43%);
}

@media (min-width: 992px) {
  .nav-link:hover {
    transform: scale(1.2);
  }
}

