body {
    font-family: 'Montserrat', sans-serif;
    background-color: #264653;
  }

a.nav-link{
  margin-right: 35px;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.landing {
  text-align: center;
  color: #e9c46a;
  padding: 0;

  h1 {
    font-size: 5rem;
    margin-top: 6rem;
  }
}

.logos {
  text-align: center;
  margin-top: 4rem;
  color: #e9c46a;

  a {
    color: #e9c46a;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  p {
    font-size: 2rem;
    padding-top: .5rem;
  }

}

.nav-link  {
  font-size: 2rem;
  color:  #e9c46a  !important;
 
}

// SKILLS SECTION

#skills {
  background-color: #e9c46a;
  h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 4.5rem;
    font-weight: 600;
    color:  #264653;
  }
  
  p {
    margin-top: 3rem;
    font-size: 2rem;
    color:  #264653;
  }
}
// TECHNOLOGY LOGOS

.fa-html5:hover {
  color: hsl(12, 77%, 52%);
  transform: scale(.98);
}

.fa-css3-alt:hover {
  color: hsl(228, 100%, 55%);
  transform: scale(.98);
}

.fa-sass:hover {
  color: #c69 ;
  transform: scale(.98);
}

.fa-bootstrap:hover {
  color: #563d7c;
  transform: scale(.98);
}

.fa-js-square:hover {
  color: hsl(0, 0%, 15%);
  transform: scale(.98);
}

.fa-size {
  font-size: 12rem;
}

img {
  height: auto;
  width: 12rem;
}

img:hover {
  transform: scale(.98)
}

// CONTACT

#contact {
  font-size: 4.5rem;
  background-color: #264653;
  color:#e9c46a;  
  padding-bottom: 5rem;
  p{
    margin-bottom: 0;
  }
  h2{
  font-weight: 600;
  text-align: center;
  font-size: 4.5rem;
  padding-top: 1.5rem;
}
}

.contacticons {
  margin-top: 6rem;
  padding-bottom: 1rem;
}

.contacticons:hover {
  transform: scale(.98);
  color: white;
}

.contactinfo {
  font-size: 3rem;
}

.contactgroup {
  margin-left: 2.5rem;
}

// MEDIA QUERIES
@media (max-width:475px){
  #contact h2 {
    font-size: 4rem;
  }
  .fa-size {
    font-size: 8rem;
  }
  img {
    width: 8rem;
  }
  .contactinfo {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .landing h1 {
  font-size: 9rem;
}
}

@media (min-width: 992px) {
  .nav-link:hover {
    transform: scale(1.2);
  }
}